@{

    var db = Database.Open("EA");


}
<h1 style="width:100%;">التحديثات على مستودع البنية المؤسسية</h1>
<hr />
<table>
    @foreach (var a in db.Query("select title,last_update from EA_categories order by last_update desc"))
    {
        <tr>
            <td style="max-width:500px;">
                @a.title
            </td>
            <td>
                @a.last_update
            </td>
        </tr>
    }
</table>
@{ db.Close();}