@{

    var db = Database.Open("EA");


}
<h1 style="width:100%;">التحديثات على مكونات البنية المؤسسية</h1>
<hr />
<table>
    @foreach (var a in db.Query("select name,category_id,last_update from EA_components order by last_update desc"))
    {
        <tr>
            <td>
                @a.name
            </td>
            <td>
                @db.QueryValue("select title from ea_categories where id=@0",a.category_id)
            </td>
            <td>
                @a.last_update
            </td>
        </tr>
    }
</table>
@{ db.Close();}