@{

    var db = Database.Open("EA");


}
<h1 style="width:100%;">إحصائيات مستودع البنية المؤسسية</h1>
<hr />
<table>
    <tr>
        <td>مكونات البنية المؤسسية</td>
        <td>عدد العناصر في المستودع</td>
        <td>نسبة اكتمالية البيانات</td>
    </tr>
    @foreach (var cat in db.Query("select ea_categories.id as i, ea_categories.title as t,count(ea_components.id) as c from EA_components inner join ea_categories on ea_components.category_id=ea_categories.id group by ea_categories.id,ea_categories.title "))
    {
        int attr1 = db.QueryValue("select count(id) from EA_components_specs where component_id in(select id from ea_components where category_id=@0)", cat.i);
        int attr2 = db.QueryValue("select count(id) from EA_components_specs where DataLength(input_value)>0 and component_id in(select id from ea_components where category_id=@0)", cat.i);
        attr1++;
        attr2++;
        <tr>
            <td>
                @cat.t
            </td>
            <td>
                @cat.c
            </td>
           <td> @Math.Round((double)attr2*100/attr1,2) %</td>
        </tr>
    }
</table>
@{ db.Close();}