@{
    if (!IsPost)
    {
        if (Request.Cookies["EA_USER"] != null)
        {
            var db = Database.Open("EA");
            var user = db.QuerySingle("select * from EA_users where userid =@0 ", Request.Cookies["EA_USER"].Value);
            db.Close();
            if(user!=null)
            {

                Session["user"] = Request.Cookies["EA_USER"].Value;
                Session.Timeout = 5000;



                if (Request.UrlReferrer != null)
                {
                    Response.Redirect(Request.UrlReferrer.ToString());
                }
                else
                {
                    Response.Redirect("~/index");
                }


            }

        }


    }

    var Error = "";
    Session.Clear();
    if (IsPost)
    {
        var username = Request.Form["username"].ToLower();
        var password = Request.Form["password"];

        if (username.IsEmpty() || password.IsEmpty())
        {
            Response.Redirect("~/login");
        }

        var db = Database.Open("EA");
        var user = db.QuerySingle("select * from EA_users where userid =@0 and password=@1 ", username,password);
        db.Close();
        if (user != null)

        {

            Response.Cookies["EA_USER"].Value = username;
            Response.Cookies["EA_USER"].Expires = DateTime.Now.AddDays(30);
         
          //  Response.Cookies["EA_USER"].Secure = true;
            Response.Cookies["EA_USER"].HttpOnly = true;
            Response.Cookies["EA_USER"].Shareable = false;
            Session["user"] = username;
            if(user.isadmin==true)
            {
                Session["admin"] = username;
            }
            App.mode = "editor";
            Session.Timeout = 5000;
            Response.Redirect("~/index");

        }
        else
        {
            Error = "خطأ في اسم المستخدم او كلمة المرور";
        }

    }
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EA</title>
   <style>

.logo_style {
    width: 250px;
}

input
{
    width:60%;
    height:40px;
    line-height:40px;
    margin:10px;
    padding:5px;
    font-size:16px;
}
       button {
           width: 60%;
           height: 50px;
           line-height: 40px;
           margin: 10px;
           padding: 5px;
           font-size: 20px;
           background-color:#3a78b4ff;
           color:#fff;
       }

   </style>
</head>

<body style="background-image: url('assets/img/bg3.jpg'); background-size:120%;background-repeat:no-repeat; width: 100vw; height: 100vh; margin: 0; padding: 0; overflow: hidden;position:fixed;">



            <div style="width:500px;height:100vh;float:right;position:fixed;top:0;right:0; background-color:#183e63ec;text-align:center;">
                <p>@Error</p>
                <form method="post">
                    <br /><br />
                    <div> <img src="~/assets/img/logo.png" class="logo_style" /></div>
                    <br />
                    <br />
                    <br />
                    <div>
                        <input type="text" name="username"  placeholder="اسم المستخدم" required>
                    </div>
                    <div>
                        <input type="password" name="password"  placeholder="كلمة المرور" autocomplete="off" required>

                    </div>

                   <button type="submit"  id="submit_bt">دخول</button>
                    <div><label style="color:#fff;">V 2.3</label></div>
                </form>
            </div>

    <div style="width:100px;height:50px;position:fixed;left:30px;top:30px;"><img src="~/assets/img/dw.png" style="width:100px;" /></div>


</body>
</html>
