@{

    var db = Database.Open("EA");
    var id =  Request.QueryString["id"];
    var diagram = db.QuerySingle("select * from EA_diagrams_custom where id=@0", id);
    string[]types = {"", "default", "org", "mindmap" };
    var type = types[diagram.group_id];
    var diagram_data = diagram.diagram_data.Replace("\\n"," ");
     diagram_data = diagram_data.Replace("\n", " ");
            }
<div style="width: 70vw; height: calc(100vh - 40px); direction: ltr;background-color:#fff; " id="editor"></div>

<script>
    var editor = new dhx.Diagram("editor", {
        type: "@type",
        scale: 0.9
     

    });


    editor.data.parse('@Html.Raw(diagram_data)');

  




</script>
@{
    db.Close();
}