@{

    var db = Database.Open("EA");
    var id = Request.QueryString["id"];
    var diagram = db.QuerySingle("select * from EA_diagrams_custom where id=@0", id);
    string[] types = { "", "default", "org", "mindmap" };
    var type = types[diagram.group_id];
    var diagram_data = diagram.diagram_data.Replace("\\n", " ");
    diagram_data = diagram_data.Replace("\n", " ");

}

<div style="width: 70vw; height: calc(100vh - 40px); direction: ltr;background-color:#fff; " id="editor"></div>
<div style="position: absolute; left: 0px; top: 40px; height: 50px; width: 180px;  z-index: 10000;"><button onclick="save_diagram();" style="width:100%;height:100%;"><i class="las la-save"></i> Save</button></div>

<script>
    var editor = new dhx.DiagramEditor("editor", {
        type: "@type",
        scale: 0.9,
        shapeBarWidth: 140,
        controls: {
            apply: false,
            reset: false,
            export: true,
            import: true,
            autoLayout: false,
            historyManager: false,
            editManager: false,
            scale: true,
            gridStep: false,
        },
        autoplacement: {
            mode: "edges",
            graphPadding: 100,
            placeMode: "orthogonal"
        },
        editMode: true,
        scalePreview: 0.60,
        shapeToolbar: true

    });


    editor.parse('@Html.Raw(diagram_data)');

    function save_diagram() {
         $.post("save_custom_diagram.cshtml?id=@id", { "diagram": JSON.stringify(editor.serialize()) });
    }



</script>
@{
    db.Close();
}