@{

    var db = Database.Open("EA");
    var category = Request.QueryString["cat"];
    var cat_info = db.QuerySingle("select * from ea_categories where id=@0", category);
    var components = db.Query("select id,name,status,target from EA_components  where category_id=@0 and status=1 ", category);

}
<h1>@cat_info.title</h1>

<div style="display:block;clear:both;">
    @foreach (var comp in components)
    {

        <a href="#" onclick="getDiagram(@comp.id)"> <div class="DItem DItem2" style="background-color:@cat_info.bg_color;border-radius:@(cat_info.corner)px;"><span style="margin-right:30px;">@comp.name</span><img style="position:absolute;top:2px;right:2px;width:25px;height:25px;" src="/assets/icons/@(cat_info.id).svg" /></div></a>
    }
</div>
<script>
    function getDiagram(id) {
        $("#panel4").load("diagram_baseline.cshtml?id=" + id);
       
    }
</script>
@{ db.Close();}