@{

    var db = Database.Open("EA");
    var category = Request.QueryString["cat"];
    var cat_info = db.QuerySingle("select * from ea_categories where id=@0", category);
    var i = 1;// db.QueryValue("select count(*) from EA_components where category_id=@0  and parent=0 ", category);
}

<table id="items_table">
   
    <tr>

        <td colspan="3"><input type="text" id="search_items" onkeyup="search_items()" placeholder="بحث سريع.." /></td>

    </tr>

    @foreach (var item in db.Query("select * from EA_components where category_id=@0 and parent=0 order by id asc", category))
    {

        <tr>
            <td>@i</td>
            <td><a href="#" id="panel2-link-@item.id" class="panel2-link" onclick="getSpecs(@item.id)">@item.name</a></td>
            <td>
             
                    
            </td>
        </tr>
        i++;

    }

</table>

<script>
    function getSpecs(id) {


        $("#panel3").load("specs_target.cshtml?id=" + id);
        $(".panel2-link").removeClass("panel2-link-active");
        $("#panel2-link-" + id).addClass("panel2-link-active");
        $("#panel3").scrollTop(0);
    }

    
   

    function search_items() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search_items");
        filter = input.value.toUpperCase();
        table = document.getElementById("items_table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
@{ db.Close();}